.example-spacer {
  flex: 1 1 auto;
}

body{
  margin: 10px;
  padding: 10px;
  font-family:'Courier New', Courier, monospace
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
